.DS_Store
__pycache__/
Miniconda3-*.sh
outputs/
OLD_SIMU/*
.vscode/
.profam_repo/
*.log
outputs_no_elitism/
af3_test_structures/
profam-devo-manuscript
nohup.out
thompson_sample_nohup.out
core
logs/
benchmark_binding/
ipsae_aggregation_benchmark/
.claude/
wandb/
af2_template_corr_output/
af2_template_output/
analysis_15pgdh_2o/
boltz2_corr_input/
boltz2_input/
boltz2_output/

boltz2_corr_output/
colabfold_input/
colabfold_output/
final_evaluation/
final_evaluation/
